* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
html {
  font-family: sans-serif;
}
body {
  background: linear-gradient(to right, #e66465, #9198e5);
}
.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  padding: 12px;
  z-index: 1;
}
.dropdown span {
  background-color: white;
  padding: 10px 20px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.dropdown .dropdown-content a {
  text-decoration: none;
  color: black;
  margin: 10px;
  width: 100%;
  height: 100%;
}
.dropdown-content a:hover {
  background-color: #eee;
}
.personal-details {
  padding: 20px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.personal-details p {
  margin-top: 10px;
  opacity: 0.8;
  font-size: 15px;
}
.personal-details .img-photo {
  width: 300px;
  height: 300px;
}
.personal-details img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  border: 10px solid transparent;
  padding: 10px;
  animation: BorderAnimation infinite 1s ease-in-out;
}
.car-images {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.car-images a {
  position: relative;
}
.car-images a::after {
  content: "car";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  opacity: 0.8;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  color: black;
  border-radius: 40px 40px 0 0;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px;
}
.footer a {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  color: white;
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.4s;
  text-align: center;
  border: 1px dashed transparent;
}
.footer a:hover {
  background-image: none;
  border: 1px solid #2ebf91;
}
@keyframes BorderAnimation {
  0% {
    border-color: #e66465 #9198e5;
  }
  100% {
    border-color: #9198e5 #e66465;
  }
}
